.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 2rem);
}

.texto {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.button {
  font-size: 1rem;
  color: black;
  font-weight: bold;
  border: none;
  background-color: grey;
  border-radius: 4px;
  padding: 10px;
}

button:hover {
  color: white;
}
